extends ../_template

block variables
  - var title = 'About page'

block content
    include ../common/header
    section.section.about
        .about__left
            .triangle.triangle_fill_white.about__left-triangle
                svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
                    polygon(points="0,0 0,150 1000,150")
            .about__left-title
                .block-title.block-title_title Обо мне
            svg.about-left-title__pic
                use(xlink:href="./assets/img/sprite.svg#about_header")
            .about__left-content
                .user-user__description
                    .user-desription__image
                        img(src="./assets/img/MyPhoto(06.17).jpg", alt="").user-desription__avatar
                    .user-desription__title
                        .block-title.block-title_subtitle Кто я
                    .user-desription__text.text-content
                        p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
        .about__right
            .triangle.triangle_fill_beige.about__left-triangle
                svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
                    polygon(points="1000,0 1000,150 0,150")
            .about__right-title
                .block-title.block-title_subtitle.block-title_width-big Чем я могу быть вам полезен
            .about__right-text.text-content Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .about__right-content
                ul.skills-list
                    li.skills-list__item
                        .skills-row
                            .skills-row__title #{com.skills[0]}
                            ul.skills-row-list
                                li.skills-row-item
                                    .skills
                                        svg.skill__circle
                                            circle(class="skill__circle-under" cx="50%" cy="50%" r="50")
                                            circle(class="skill__circle-above skill__circle-above_cyan skill__circle-above-html" cx="50%" cy="50%" r="50" transform="rotate(-90 60 60)")
                                            .skill__title HTML5
                                li.skills-row-item
                                    .skills
                                        svg.skill__circle
                                            circle(class="skill__circle-under" cx="50%" cy="50%" r="50")
                                            circle(class="skill__circle-above skill__circle-above_cyan skill__circle-above-css" cx="50%" cy="50%" r="50" transform="rotate(-90 60 60)")
                                            .skill__title CSS
                                li.skills-row-item
                                    .skills
                                        svg.skill__circle
                                            circle(class="skill__circle-under" cx="50%" cy="50%" r="50")
                                            circle(class="skill__circle-above skill__circle-above_cyan skill__circle-above-js" cx="50%" cy="50%" r="50" transform="rotate(-90 60 60)")
                                            .skill__title JavaScript & Jquery
                    li.skills-list__item
                        .skills-row
                            .skills-row__title #{com.skills[1]}
                            ul.skills-row-list
                                li.skills-row-item
                                    .skills
                                        svg.skill__circle
                                            circle(class="skill__circle-under" cx="50%" cy="50%" r="50")
                                            circle(class="skill__circle-above skill__circle-above_light skill__circle-above-php" cx="50%" cy="50%" r="50" transform="rotate(-90 60 60)")
                                            .skill__title PHP
                                li.skills-row-item
                                    .skills
                                        svg.skill__circle
                                            circle(class="skill__circle-under" cx="50%" cy="50%" r="50")
                                            circle(class="skill__circle-above skill__circle-above_light skill__circle-above-mySQL" cx="50%" cy="50%" r="50" transform="rotate(-90 60 60)")
                                            .skill__title mySQL
                                li.skills-row-item
                                    .skills
                                        svg.skill__circle
                                            circle(class="skill__circle-under" cx="50%" cy="50%" r="50")
                                            circle(class="skill__circle-above skill__circle-above_light skill__circle-above-nodeJS" cx="50%" cy="50%" r="50" transform="rotate(-90 60 60)")
                                            .skill__title Node.js & npm   
                                li.skills-row-item
                                    .skills
                                        svg.skill__circle
                                            circle(class="skill__circle-under" cx="50%" cy="50%" r="50")
                                            circle(class="skill__circle-above skill__circle-above_light skill__circle-above-mongo" cx="50%" cy="50%" r="50" transform="rotate(-90 60 60)")
                                            .skill__title Mongo.db                                                
                    li.skills-list__item
                        .skills-row
                            .skills-row__title #{com.skills[2]}
                            ul.skills-row-list
                                li.skills-row-item
                                    .skills
                                        svg.skill__circle
                                            circle(class="skill__circle-under" cx="50%" cy="50%" r="50")
                                            circle(class="skill__circle-above skill__circle-above_cyan skill__circle-above-git" cx="50%" cy="50%" r="50" transform="rotate(-90 60 60)")
                                            .skill__title Git
                                li.skills-row-item
                                    .skills
                                        svg.skill__circle
                                            circle(class="skill__circle-under" cx="50%" cy="50%" r="50")
                                            circle(class="skill__circle-above skill__circle-above_cyan skill__circle-above-gulp" cx="50%" cy="50%" r="50" transform="rotate(-90 60 60)")
                                            .skill__title Gulp
                                li.skills-row-item
                                    .skills
                                        svg.skill__circle
                                            circle(class="skill__circle-under" cx="50%" cy="50%" r="50")
                                            circle(class="skill__circle-above skill__circle-above_cyan skill__circle-above-yarn" cx="50%" cy="50%" r="50" transform="rotate(-90 60 60)")
                                            .skill__title Yarn              
    section.section.map  
        img.google-map(src="./assets/img/bg/map.png")
        .map__contacts
            .contacts
                .contacts__title
                    .block-title.block-title_subtitle Контакты
                ul.contacts__list
                    li.contacts__item
                            .contacts-row
                                svg.contacts-row__icon
                                    use(xlink:href="./assets/img/sprite.svg#skype")
                                .contacts-row__content #{com.contacts[0]}
                    li.contacts__item
                            .contacts-row
                                svg.contacts-row__icon
                                    use(xlink:href="./assets/img/sprite.svg#envelope")
                                .contacts-row__content #{com.contacts[1]}
                    li.contacts__item
                            .contacts-row
                                svg.contacts-row__icon
                                    use(xlink:href="./assets/img/sprite.svg#phone")
                                .contacts-row__content #{com.contacts[2]}
                    li.contacts__item
                            .contacts-row
                                svg.contacts-row__icon
                                    use(xlink:href="./assets/img/sprite.svg#map_marker")
                                .contacts-row__content #{com.contacts[3]}
    include ../common/footer
        