extends ../_admin-template
block variables
block content
    section.admin
        .admin__header
            .admin__title.admin-title Панель администрирования
            .admin__back
                a(href="index").admin-title-link Вернуться на сайт
        .admin__main
            .admin-main
                ul.admin-main__tab-list.admin-tab-list
                    li.admin-tab-list__item.admin-tab-item Страница "Обо мне"
                    li.admin-tab-list__item.admin-tab-item Страница "Блог"
                    li.admin-tab-list__item.admin-tab-item.admin-tab-item_active Страница "Мои работы"
                    li.admin-tab-list__item.admin-tab-item Настройка
                    li.admin-tab-list__item.admin-tab-item-last
                ul.admin-main__content-list.admin-content-list
                    img(src="./assets/img/bg/mountains-phones.jpg").admin-main__pic.admin-main__pic_phones
                    img(src="./assets/img/bg/mountains-tablets.jpg").admin-main__pic.admin-main__pic_tablets
                    img(src="./assets/img/bg/mountains-laptop.jpg").admin-main__pic.admin-main__pic_laptop
                    img(src="./assets/img/bg/mountains-desktop.jpg").admin-main__pic.admin-main__pic_desktop
                    li.admin-content-list__item.admin-content-list__item_active
                        .adm-about-me
                            .adm-about-me__title.adm-title Страница "Обо мне"
                            .adm-about-me__content
                                .adm-about-me__content-flow
                                    .skills-set
                                        .skills-set__title #{skills.skills[0].name}
                                        ul.skills-set__list
                                            li.skills-set__item 
                                                .skills-set__desc #{skills.skills[0].items[0].name}
                                                input(type="number" min="0" max="100" step ="5" value = `${skills.skills[0].items[0].value}` ).skills-set__value
                                                .skills-set__perc %
                                            li.skills-set__item
                                                .skills-set__desc #{skills.skills[0].items[1].name}
                                                input(type="number" min="0" max="100" step ="5" value = `${skills.skills[0].items[1].value}`).skills-set__value
                                                .skills-set__perc %
                                            li.skills-set__item
                                                .skills-set__desc #{skills.skills[0].items[2].name}
                                                input(type="number" min="0" max="100" step ="5" value = `${skills.skills[0].items[2].value}`).skills-set__value
                                                .skills-set__perc %
                                    .skills-set
                                        .skills-set__title #{skills.skills[1].name}
                                        ul.skills-set__list
                                            li.skills-set__item 
                                                .skills-set__desc #{skills.skills[1].items[0].name}
                                                input(type="number" min="0" max="100" step ="5" value = `${skills.skills[1].items[0].value}`).skills-set__value
                                                .skills-set__perc %
                                            li.skills-set__item
                                                .skills-set__desc #{skills.skills[1].items[1].name}
                                                input(type="number" min="0" max="100" step ="5" value = `${skills.skills[1].items[1].value}`).skills-set__value
                                                .skills-set__perc %
                                            li.skills-set__item
                                                .skills-set__desc #{skills.skills[1].items[2].name}
                                                input(type="number" min="0" max="100" step ="5" value = `${skills.skills[1].items[2].value}`).skills-set__value
                                                .skills-set__perc %
                                            li.skills-set__item
                                                .skills-set__desc #{skills.skills[1].items[3].name}
                                                input(type="number" min="0" max="100" step ="5" value = `${skills.skills[1].items[3].value}`).skills-set__value
                                                .skills-set__perc %
                                    .skills-set
                                        .skills-set__title #{skills.skills[2].name}
                                        ul.skills-set__list
                                            li.skills-set__item 
                                                .skills-set__desc #{skills.skills[2].items[0].name}
                                                input(type="number" min="0" max="100" step ="5" value = `${skills.skills[2].items[0].value}`).skills-set__value
                                                .skills-set__perc %
                                            li.skills-set__item
                                                .skills-set__desc #{skills.skills[2].items[1].name}
                                                input(type="number" min="0" max="100" step ="5" value = `${skills.skills[2].items[1].value}`).skills-set__value
                                                .skills-set__perc %
                                            li.skills-set__item
                                                .skills-set__desc #{skills.skills[2].items[2].name}
                                                input(type="number" min="0" max="100" step ="5" value = `${skills.skills[2].items[2].value}`).skills-set__value
                                                .skills-set__perc %            
                            .adm-about-me__btn
                                button.btn-save Сохранить
                    li.admin-content-list__item
                        .adm-blog
                            .adm-blog__title.adm-title Страница "Блог"
                            .adm-blog__content
                                .adm-blog__content-flow 
                                    form.admin-add#blog
                                        .admin-add__title Добавить запись
                                        .admin-add__place
                                            input(type="text" placeholder="Название" name="title").admin-add_place.admin-add-text
                                        .admin-add__place
                                            -
                                                var data = new Date().toLocaleDateString('ru',{
                                                    year: 'numeric',
                                                    month: '2-digit',
                                                    day: '2-digit'
                                                })
                                            input(type="date"  name="date" value =`${data}`).admin-add_place.admin-add-text
                                        .admin-add__place
                                            textarea(cols="22" rows="5" placeholder="Содержание" name="article").admin-add_place.admin-add_place-area.works-submit-text
                            .adm-blog__btn
                                button.btn-save#btn-save-blog Добавить
                    li.admin-content-list__item
                        .adm-works
                            .adm-works
                                .adm-works__title.adm-title Страница "Мои работы"
                                .adm-works__content
                                    .adm-works__content-flow
                                        form.admin-add#upload(enctype="multipart/form-data")
                                            .admin-add__title Добавить работу
                                            label.admin-add__place
                                                input(name="name" type="text" placeholder="Название проекта").admin-add_place.admin-add-text#admin-add-name
                                            label.admin-add__place
                                                input(name="technologie" type="text"  placeholder="Технологии").admin-add_place.admin-add-text#admin-add-desc
                                            .admin-add__place      
                                                label.admin-add__load
                                                    img(src="./assets/img/loadImg.png").admin-add__img
                                                    input(name="photo" type="file" required accept="img/*" hidden)#admin-add-img
                                                    .admin-add__text Загрузить картинку
                                .adm-works__btn
                                    button.btn-save#btn-save-work Добавить
                    li.admin-content-list__item.
                        Пробная вкладка
                          .messages
    .messages__notify
      .notify-complite
        .notify-complite__title
          .notify-title Сообщение отправлено
        .notify-complite__btn
          button.notify-btn Закрыть

