//- Наследуемый шаблон _template
extends ../_template
//- Переменные для заголовка шапки header
block variables
  - var name = 'Кацер Сергей', info = 'Личный сайт web-разработчика'
//- Тело блока
block content
  //- Секция шапки сайта
  include ../common/header
  //- Секция слайдера с работами
  section.works
    //- Треугольники SVG
    .works-triangle__left
      .triangle.triangle_fill_clear-white.about__left-triangle
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="0,0 0,150 1000,150")
    .works-triangle__right
      .triangle.triangle_fill_clear-white.about__left-triangle
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="1000,0 1000,150 0,150")
    //- Содержимое секции слайдера
    .works-content
      //- Заголовок секции слайдера
      .works__title
        .works-title
          svg.works-title__pic
            use(xlink:href="./assets/img/sprite.svg#works_header")
          .block-title.block-title_title Мои работы
      //- Слайдер
      .wk-slider.works__slider
        //- Блок описаний работ слайдера
        .wk-slider-left__card
          each work in items
            .slider-desc
              .slider-desc__title
                .block-title.block-title_subtitle= work.name
              .slider-desc__tech
                .desc-tech= work.desc
              .slider-desc__link
                a(href=`${work.link}`).site-btn
                  svg.site-btn__icon.btn-icon.icon_color-clear-white
                      use(xlink:href="./assets/img/sprite.svg#link")
                  span.site-btn__text Посмотреть сайт
        //- Блок главного изображения слайдера
        .wk-slider-present__first.wk-slider-first-cont
          each first,index in items
            img(src=`${first.picture}` class=`first-work-img_${index}`).first-work-img
        //- Контейнер второстепенных блоков слайдера
        .wk-slider-present
          //- Первый второстепенный блок слайдера
          .wk-slider-present__second
            .bg_color_gray
            .works__scroll-button#arrow-down
              svg.arrow.arrow_big
                use(xlink:href="./assets/img/sprite.svg#arrow_down")
            each second,index in items
              img(src=`${second.picture}` class=`second-work-img_${index}`).second-work-img
          //- Первый второстепенный блок слайдера
          .wk-slider-present__third
            .bg_color_gray
            .works__scroll-button#arrow-up
              svg.arrow.arrow_big.arrow_up
                use(xlink:href="./assets/img/sprite.svg#arrow_down")
            each third,index in items
              img(src=`${third.picture}` class=`third-work-img_${index}`).third-work-img    
  //- Секция с отзывами преподавателей и карточкой submit
  section.section-big.works-about 
    //- Фон секции с отзывами
    .works__bg        
      img(src="./assets/img/bg/water.png")
    //- Сегмент секции для blur эффекта
    .works__bg-blur
      .works__bg-blur-form
    //- Заголовок секции с отзывами
    .works-about__title.works-about-title
      .block-title.block-title_title.block-title_cent Что обо мне говорят
      svg.works-title__pic.works-title__pic_to-bottom
        use(xlink:href="./assets/img/sprite.svg#about_header")
    //- Блок с отзывами
    .works-about__content
      .content-about
        .content-about__first
          .content-about__img-svg
            img(src="./assets/img/coma.png").content-about-svg
          .content-about__desc
            .content-about__desc-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .content-about__pers
            .content-about-pers
              .content-about-pers__photo
                img(src="./assets/img/koval.png").content-about-svg
              .content-about-pers__who
                .content-about-pers-desc
                  .content-about-pers-who__name.content-about__pers-text.content-about__pers-text_bold Ковальчук Дмитрий
                  .content-about-pers-who__desc.content-about__pers-text Основатель LoftSchool
        .content-about__second
          .content-about__img-svg
            img(src="./assets/img/coma.png").content-about-svg
          .content-about__desc
            .content-about__desc-text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          .content-about__pers
            .content-about-pers
              .content-about-pers__photo
                img(src="./assets/img/saban.png").content-about-svg
              .content-about-pers__who
                .content-about-pers-desc
                  .content-about-pers-who__name.content-about__pers-text.content-about__pers-text_bold Сабанцев Владимир
                  .content-about-pers-who__desc.content-about__pers-text Преподаватель
    //- Блок с формой обратной связи
    .works-about__submit
      form.works-submit#mail
        .works-submit__title
          .block-title.block-title_subtitle.block-title_width-big Связаться со мной
        label.works-submit__name
          input(name="name" type="text" placeholder="Имя").works-submit_place.works-submit-text
        label.works-submit__email
          input(name="email" type="email"  placeholder="Email").works-submit_place.works-submit-text
        label.works-submit__message
          textarea(name="text" cols="22" rows="5" placeholder="Ваше сообщение").works-submit_place.works-submit_place-area.works-submit-text
        .works-submit__buttons.works-submit-buttons
          input(name="" type="submit" value="Отправить").works-submit-sb
          input(name="" type="reset"  value="Очистить").works-submit-rs
    .works-about__to-top
      svg.arrow.arrow_small.arrow_up
        use(xlink:href="./assets/img/sprite.svg#arrow_down")    
  //- Футер      
  include ../common/footer
  //- Скрытое сообщение для указания успешной отсылки данных формы на сервер
  .messages
    .messages__notify
      .notify-complite
        .notify-complite__title
          .notify-title Сообщение отправлено
        .notify-complite__btn
          button.notify-btn Закрыть


        

  